.button-to-about-me{
  scroll-behavior: smooth;
  position: relative;
  animation-name: up-and-down;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes up-and-down{
  0% {top: -10px;}
  25% {top: 10px;}
  50% {top: -10px;}
  75% {top: 10px;}
  100% {top: -10px;}
}


::ng-deep .about-me-img img{
  width: 78.125rem;
  @apply h-[22rem];
  @apply object-cover;
  @apply rounded-3xl;
}

::ng-deep .flag img{
  @apply w-6;
  @apply h-6;
  @apply object-cover;
  @apply rounded-3xl;
}

.chip-language{
  background: none
}

.p-card {
  @apply bg-[#141E32];
}

::ng-deep .p-card .p-card-header .card-about-me{
  @apply pt-4;
  @apply px-4;
}

.chip-about-me{
  @apply bg-[#132443];
  @apply text-white;
  @apply mt-4;
  @apply mx-4;
}

.chip-skills-technolgies{
  @apply bg-[#132443];
  @apply text-white;
}

::ng-deep .p-card .p-card-title{
  @apply text-white;
  @apply font-medium;
  @apply break-words;
}

::ng-deep .p-card .p-card-header .card-feature-projects{
  @apply rounded-t-3xl;
}

.img-feature-projects{
  @apply rounded-t-xl;
}

.img-feature-projects:hover{
  @apply rounded-t-xl;
  @apply transform;
  @apply scale-110;
  @apply object-cover;
  @apply ease-in-out;
  @apply duration-700;
}

.chip-featured-projects{
  @apply text-[#4993EA];
  @apply bg-[#132443];
}

.chip-get-in-touch{
  @apply bg-[#132443];
  @apply mr-4;
}

::ng-deep .buttonCardsFeaturedProjects .p-button .p-button-icon, ::ng-deep .buttonCardsFeaturedProjects .p-button .p-button-label{
  @apply text-white;
}

::ng-deep .buttonCardsFeaturedProjects .p-button:hover{
  @apply bg-[#132443];
}